body {
  padding: 0 30px;
  font: 14px Georgia, Times, "Times New Roman", serif;
}

a {
  color: #00B7FF;
}

.cards div {
  border: 1px solid black;
  margin-right: 0.5em;
  height: 12em;
  width: 12em;
}

div.red div {
  background-color: rgba(86, 61, 124, 0.15)
}

div.blue div {
  background-color: #CCC;
}

div.card {
  background-color: white;
  border: 1px solid black;
  height: 8.5em;
  margin-bottom: 1em;
  width: 7em;
}

div.card div.top {
  clear: both;
  border-bottom: 1px black solid;
  height: 2.5em;
}

div.top div.vp {
  float: left;
}

div.top div.give {
  float: right;
}

div.give img {
  width: 3em;
}

div.row div.fruit {
  float: left;
}

div.row div.fruit div.take {
  text-align: center;
}

div.development {
  border-bottom: 1px solid black;
  margin: 1em 0;
}

div.total {
  font-weight: bold;
  text-align: center;
}

.dragon-fruit-cost, .kiwi-cost, .olive-cost, .strawberry-cost, .plum-cost, .pineapple {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.dragon-fruit-cost {
  border: 1px solid black;
}

.kiwi-cost {
  background: #a4b357;
  color: white;
}

.olive-cost {
  background: #131313;
  color: white;
}

.strawberry-cost {
  background: #e73827;
  color: white;
}

.plum-cost {
  background: #8A2BE2;
  color: white;
}

.pineapple {
  background: #DAA520;
  color: white;
}

div.fruit-summary {
  padding: 0.1em;
  clear: both;
}


div.fruit-summary div {
  float: left;
  margin-right: 0.2em;
}

div.fruit-summary div.summary-label {
  width: 3em;
}

div.current-turn h3 {
  background-color: #d9edf7;
  color: red;
  font-style: italic;
  text-decoration: underline;
}

div.merchants img {
  width: 8em;
}

div.purchase img {
  width: 4.5em;
}

div.vp {
  font-size: 2.5em;
}

div.card-selected {
  border-color: red;
  border-style: dashed;
  transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  z-index: 99;
}

div.card-fruit {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

div.tokens {
  box-shadow: 2px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 2px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 2px rgba(0,0,0,0.6);
}

div.tokens:hover {
  border-style: dotted;
  cursor: pointer;
}

div.tableau {
  min-height: 300px;
}

div.stack {
  position: absolute;
}

div.stack-0 {
  z-index: 0;
}

div.stack-1 {
  top: 35px;
  z-index: 1;
}

div.stack-2 {
  top: 70px;
  z-index: 2;
}

div.stack-3 {
  top: 105px;
  z-index: 3;
}

div.stack-4 {
  top: 140px;
  z-index: 4;
}

div.stack-5 {
  top: 175px;
  z-index: 5;
}

div.alert {
  padding: 7px;
  margin-bottom: 0.8em;
}

div.player-tokens {
  border-top: 1px solid black;
}
