extends layout

block content

  b= title
  select#players(ng-init="numPlayers = numPlayers || players[0]" ng-options="player for player in players" ng-model="numPlayers")
  button(ng-click="start()" class="btn btn-default") Start
  button(ng-click="resume()" class="btn btn-default") Resume

  div.alert.alert-info(role="alert")
    div {{msg}}

  div.container
    div.row
      div.col-md-2
        div(ng-repeat="player in board.players" ng-class="player.isTurn ? 'current-turn': ''")
          h3 Player {{player.number}}, VP: {{player.vp}}
          div.fruit-summary
            div.kiwi-cost.card-fruit {{player.kiwiDevelopment}}
            div.dragon-fruit-cost.card-fruit {{player.dragonFruitDevelopment}}
            div.plum-cost.card-fruit {{player.plumDevelopment}}
            div.olive-cost.card-fruit {{player.oliveDevelopment}}
            div.strawberry-cost.card-fruit {{player.strawberryDevelopment}}
          div.fruit-summary
            div.kiwi-cost {{player.kiwiToken}}
            div.dragon-fruit-cost {{player.dragonFruitToken}}
            div.plum-cost {{player.plumToken}}
            div.olive-cost {{player.oliveToken}}
            div.strawberry-cost {{player.strawberryToken}}
            div.pineapple {{player.pineapple}}
      div.col-md-2.merchants(ng-repeat="merchant in board.merchants")
        div(ng-if="merchant !== null")
          img(src="/images/merchants/{{merchant.image}}")
          div VP: {{merchant.vp}}
            div.kiwi-cost(ng-if="merchant.kiwi > 0") {{merchant.kiwi}}
            div.dragon-fruit-cost(ng-if="merchant.dragonFruit > 0") {{merchant.dragonFruit}}
            div.plum-cost(ng-if="merchant.plum > 0") {{merchant.plum}}
            div.olive-cost(ng-if="merchant.olive > 0") {{merchant.olive}}
            div.strawberry-cost(ng-if="merchant.strawberry > 0") {{merchant.strawberry}}
      div.col-md-4
        div.row.purchase
          div.fruit
            div
              img(src="/images/fruits/kiwi.png")
            div.total {{board.kiwi}}
            div.take
              button.btn.btn-default.btn-sm(ng-click="takeFruit('kiwi')") Take ({{taken.kiwi}})
          div.fruit
            div
              img(src="/images/fruits/dragon_fruit.png")
            div.total {{board.dragonFruit}}
            div.take
              button.btn.btn-default.btn-sm(ng-click="takeFruit('dragonFruit')") Take ({{taken.dragonFruit}})
          div.fruit
            div
              img(src="/images/fruits/plum.png")
            div.total {{board.plum}}
            div.take
              button.btn.btn-default.btn-sm(ng-click="takeFruit('plum')") Take ({{taken.plum}})
          div.fruit
            img(src="/images/fruits/olive.png")
            div.total {{board.olive}}
            div.take
              button.btn.btn-default.btn-sm(ng-click="takeFruit('olive')") Take ({{taken.olive}})
          div.fruit
            img(src="/images/fruits/strawberry.png")
            div.total {{board.strawberry}}
            div.take
              button.btn.btn-default.btn-sm(ng-click="takeFruit('strawberry')") Take ({{taken.strawberry}})
          div.fruit
            img(src="/images/fruits/pineapple.png")
            div.total {{board.pineapple}}

        div.row
          div(ng-if="selectedCard !== null && show")
            div.fruit-summary
              div.summary-label Cost
              div.kiwi-cost {{selectedCard.kiwiCost}}
              div.dragon-fruit-cost {{selectedCard.dragonFruitCost}}
              div.plum-cost {{selectedCard.plumCost}}
              div.olive-cost {{selectedCard.oliveCost}}
              div.strawberry-cost {{selectedCard.strawberryCost}}
            div.fruit-summary
              div.summary-label Dev
              div.kiwi-cost.card-fruit {{currentPlayer.kiwiDevelopment}}
              div.dragon-fruit-cost.card-fruit {{currentPlayer.dragonFruitDevelopment}}
              div.plum-cost.card-fruit {{currentPlayer.plumDevelopment}}
              div.olive-cost.card-fruit {{currentPlayer.oliveDevelopment}}
              div.strawberry-cost.card-fruit {{currentPlayer.strawberryDevelopment}}
            div.fruit-summary
              div.summary-label Paid
              div.kiwi-cost {{paid.kiwi}}
              div.dragon-fruit-cost {{paid.dragonFruit}}
              div.plum-cost {{paid.plum}}
              div.olive-cost {{paid.olive}}
              div.strawberry-cost {{paid.strawberry}}
            div.fruit-summary.player-tokens
              div.summary-label Tokens
              div.kiwi-cost.tokens(ng-click="selectToken('kiwi')") {{currentPlayer.kiwiToken}}
              div.dragon-fruit-cost.tokens(ng-click="selectToken('dragonFruit')") {{currentPlayer.dragonFruitToken}}
              div.plum-cost.tokens(ng-click="selectToken('plum')") {{currentPlayer.plumToken}}
              div.olive-cost.tokens(ng-click="selectToken('olive')") {{currentPlayer.oliveToken}}
              div.strawberry-cost.tokens(ng-click="selectToken('strawberry')") {{currentPlayer.strawberryToken}}
              div.pineapple.tokens(ng-click="selectToken('pineapple')") {{currentPlayer.pineapple}}
          div
            button.btn.btn-default.btn-sm(ng-click="buy()") Buy
            button.btn.btn-default.btn-sm(ng-click="reserve()") Reserve
            button.btn.btn-default.btn-sm(ng-click="reset()") Reset
            button.btn.btn-default.btn-sm(ng-click="endTurn()") End Turn

    div.row.development
      div.col-md-2 III ({{board.deckThree.length}})
      div.col-md-2(ng-repeat="card in board.lineThree")
        +card_mixin("{{card}}", "development")
    div.row.development
      div.col-md-2 II ({{board.deckTwo.length}})
      div.col-md-2(ng-repeat="card in board.lineTwo")
        +card_mixin("{{card}}", "development")
    div.row.development
      div.col-md-2 I ({{board.deckOne.length}})
      div.col-md-2(ng-repeat="card in board.lineOne")
        +card_mixin("{{card}}", "development")

    div(ng-repeat="player in board.players")
      h3 Player {{player.number}}, VP: {{player.vp}}, Turn: {{player.isTurn}}
      +player_mixin("{{player}}")

    div
      p
        b * 2 fruits same color:
        em  This action is only possible if there are at least 4 tokens of the chosen color left when the player takes them.

    mixin card_mixin(card, area)
      div.card(ng-click="selected(card, '#{area}')", ng-class="cardClass(card, '#{area}')")
        div.top
          div.vp {{card.vp}}
          div.give
            span(ng-if="card.kiwi > 0")
              img(src="/images/fruits/kiwi.png")
            span(ng-if="card.dragonFruit > 0")
              img(src="/images/fruits/dragon_fruit.png")
            span(ng-if="card.plum > 0")
              img(src="/images/fruits/plum.png")
            span(ng-if="card.olive > 0")
              img(src="/images/fruits/olive.png")
            span(ng-if="card.strawberry > 0")
              img(src="/images/fruits/strawberry.png")
        div.kiwi-cost(ng-if="card.kiwiCost > 0") {{card.kiwiCost}}
        div.dragon-fruit-cost(ng-if="card.dragonFruitCost > 0") {{card.dragonFruitCost}}
        div.plum-cost(ng-if="card.plumCost > 0") {{card.plumCost}}
        div.olive-cost(ng-if="card.oliveCost > 0") {{card.oliveCost}}
        div.strawberry-cost(ng-if="card.strawberryCost > 0") {{card.strawberryCost}}

    mixin player_mixin(player)
      div.fruits.row
        div.fruit
          img(src="/images/fruits/kiwi.png")
          div.total {{player.kiwiToken}}
        div.fruit
          img(src="/images/fruits/dragon_fruit.png")
          div.total {{player.dragonFruitToken}}
        div.fruit
          img(src="/images/fruits/plum.png")
          div.total {{player.plumToken}}
        div.fruit
          img(src="/images/fruits/olive.png")
          div.total {{player.oliveToken}}
        div.fruit
          img(src="/images/fruits/strawberry.png")
          div.total {{player.strawberryToken}}
        div.fruit
          img(src="/images/fruits/pineapple.png")
          div.total {{player.pineapple}}
      div.row.tableau
        div.col-md-2
          div(ng-repeat="card in player.kiwiCards track by $index", class="stack stack-{{$index}}")
            +card_mixin("{{card}}", "hand")
        div.col-md-2
          div(ng-repeat="card in player.dragonFruitCards track by $index", class="stack stack-{{$index}}")
            +card_mixin("{{card}}", "hand")
        div.col-md-2
          div(ng-repeat="card in player.plumCards track by $index", class="stack stack-{{$index}}")
            +card_mixin("{{card}}", "hand")
        div.col-md-2
          div(ng-repeat="card in player.oliveCards track by $index", class="stack stack-{{$index}}")
            +card_mixin("{{card}}", "hand")
        div.col-md-2
          div(ng-repeat="card in player.strawberryCards track by $index", class="stack stack-{{$index}}")
            +card_mixin("{{card}}", "hand")
      div.row
        h4 Reserved
        div(ng-repeat="card in player.reserved")
          +card_mixin("{{card}}", "development")
      div.row
        h4 Merchants
        div.merchants(ng-repeat="merchant in player.merchants")
          img(src="/images/merchants/{{merchant.image}}")
